
Firmware/Sources/SensorReader/.vs/SensorReader/v16/.suo
Firmware/Sources/SensorReader/__vm/.SensorReader.vsarduino.h
Firmware/Sources/SensorReader/__vm/Compile.vmps.xml
Firmware/Sources/SensorReader/__vm/Configuration.Release.vmps.xml
Firmware/Sources/SensorReader/SensorReader.vcxproj
Firmware/Sources/SensorReader/SensorReader.vcxproj.filters
Firmware/Sources/SensorReader/SensorReader.vcxproj.user
